In [47]:
#import request library
import requests
import json
import pandas as pd
import time

In [39]:
url = 'https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page=5&filter_json=[]'

In [40]:
req = requests.get(url)

In [41]:
req.status_code

200

In [42]:
response = req.json()

In [43]:
response.keys()

dict_keys(['ads', 'topAds', 'spotlights', 'paginationData', 'filters', 'categories', 'locations', 'categoryId', 'locationId', 'uniqueShops', 'title', 'description', 'h1Text', 'contentSnippet', 'isCuratedQuery', 'canonical', 'filterCanonicalUrl', 'internalLinks'])

In [44]:
response['ads'][0].keys()

dict_keys(['id', 'slug', 'title', 'description', 'details', 'imgUrl', 'price', 'discount', 'mrp', 'isMember', 'isAuthDealer', 'isFeaturedMember', 'membershipLevel', 'shopName', 'isDoorstepDelivery', 'isDeliveryFree', 'isTopAd', 'isUrgentAd', 'timeStamp', 'lastBumpUpDate', 'category', 'isVerified', 'isJobAd', 'location', 'adType', 'isLocalJob'])

In [45]:
titel = response['ads'][0]['title']
description = response['ads'][0]['description']
price = response['ads'][0]['price']

In [51]:
data = []
for page in range(1,6):
    url = f'https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page={page}&filter_json=[]'
    print(url)
    req = requests.get(url)
    time.sleep(3)
    response = req.json()
    print('page no. ' + str(page) + "done")
    for product in range(0,25):
        try:
            price = response['ads'][product]['price']
        except:
            price = 'Not Available'
        data_json = {
            'titel' : response['ads'][product]['title'],
            'description' : response['ads'][product]['description'],
            'price' : price
        }
        data.append(data_json)

https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page=1&filter_json=[]
page no. 1done
https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page=2&filter_json=[]
page no. 2done
https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page=3&filter_json=[]
page no. 3done
https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page=4&filter_json=[]
page no. 4done
https://bikroy.com/data/serp?top_ads=2&spotlights=5&sort=date&order=desc&buy_now=0&urgent=0&categorySlug=mobiles&locationSlug=bangladesh&category=101&page=5&filter_json=[]
page no. 5done

In [55]:
dataframe = pd.DataFrame(data)
dataframe

,titel,description,price
0,Xiaomi Redmi Note 11 . (Used),"Rangpur Division, Mobile Phones","Tk 16,500"
1,Vivo Y12 . (Used),"Khulna, Mobile Phones","Tk 7,500"
2,Apple iPhone 6 . (Used),"Dhaka, Mobile Phones","Tk 7,000"
3,WE A10 (Used),"Dhaka, Mobile Phones","Tk 1,499"
4,Realme 10 Pro Plus 8/128 Storage 5G (Used),"Dhaka, Mobile Phones","Tk 27,000"
...,...,...,...
120,"Realme Narzo 50 Pro , (Used)","Khulna, Mobile Phones","Tk 17,000"
121,Google Pixel 4a (Used),"Dhaka Division, Mobile Phones",Tk 100
122,Infinix Hot 12 Play (Used),"Khulna, Mobile Phones","Tk 8,000"
123,Xiaomi Redmi Note 6 Pro . (Used),"Khulna Division, Mobile Phones","Tk 3,800"
124,Symphony Xplorer W31 full fresh phone (Used),"Khulna, Mobile Phones","Tk 2,000"

In [56]:
dataframe.to_csv('Bikroy_._com_data.csv',index=False)